.button, a.button, #buttons_bar .button, #buttons_bar.loading .button:hover, #buttons_bar.loading .button:active {
	display: inline-block;
	position: relative;
	height: 31px;
	color: #333333;
	border: 1px solid #bbbbbb;
	text-decoration: none;
	line-height: 31px;
	font-size: 14px;
	background: white;
	background: -moz-linear-gradient(top,#f9f9f9 0%,#e9e9e9 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f9f9f9),color-stop(100%,#e9e9e9));
	background: -webkit-linear-gradient(top,#f9f9f9 0%,#e9e9e9 100%);
	background: -o-linear-gradient(top,#f9f9f9 0%,#e9e9e9 100%);
	background: -ms-linear-gradient(top,#f9f9f9 0%,#e9e9e9 100%);
	background: linear-gradient(top,#f9f9f9 0%,#e9e9e9 100%);
	-webkit-user-drag: none;
	outline: none;
	box-shadow: inset 0 1px 0 white;
	text-shadow: 0 1px 0 white;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 0 12px;
}
input.button {
	line-height: 24px;
}
.button:hover, #buttons_bar .button:hover {
	background: -moz-linear-gradient(top,#f0f0f0 0%,#c7c7c7 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f0f0f0),color-stop(100%,#c7c7c7));
	background: -webkit-linear-gradient(top,#f0f0f0 0%,#c7c7c7 100%);
	background: -o-linear-gradient(top,#f0f0f0 0%,#c7c7c7 100%);
	background: -ms-linear-gradient(top,#f0f0f0 0%,#c7c7c7 100%);
	background: linear-gradient(top,#f0f0f0 0%,#c7c7c7 100%);
}
.button:active, #buttons_bar .button:active {
	background: -moz-linear-gradient(top,#d9d9d9 0%,#e9e9e9 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#d9d9d9),color-stop(100%,#e9e9e9));
	background: -webkit-linear-gradient(top,#d9d9d9 0%,#e9e9e9 100%);
	background: -o-linear-gradient(top,#d9d9d9 0%,#e9e9e9 100%);
	background: -ms-linear-gradient(top,#d9d9d9 0%,#e9e9e9 100%);
	background: linear-gradient(top,#d9d9d9 0%,#e9e9e9 100%);
}
.button.disabled, .button.disabled:hover, .button.disabled:active {
	background: #eeeeee !important;
	box-shadow: none;
	cursor: default;
	opacity: 0.5;
}
.button.add, .button.delete, .button.download {
	padding-left: 40px !important;
}
.button.add:before, .button.delete:before, .button.download:before {
	content: " ";
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 8px;
	left: 12px;
}
.button.add:before {
	background-image: url(../img/buttons_ru/add_icon.png);
}
.button.delete:before {
	background-image: url(../img/buttons_ru/delete_icon.png);
}
.button.download:before {
	background-image: url(../img/buttons_ru/download_icon.png);
}

#buttons_bar {
	padding: 10px 0;
}
#buttons_bar.loading .button {
	cursor: default;
}
#buttons_bar.loading {
	opacity: 0.4;
}

.entranceButton {
    display: block !important;
	width: 140px;
	height: 32px;
	border: none;
	outline: none;
	background-image: url(../img/buttons_ru/entrance.png);
    margin: 40px auto 0  !important;
}
.saveButton {
	width: 101px;
	background-image: url(../img/buttons_ru/save.png);
}
.addButton {
	width: 120px;
	background-image: url(../img/buttons_ru/add.png);
}
.addReportButton {
	width: 158px;
	background-image: url(../img/buttons_ru/add_report.png);
}
.deleteButton {
	width: 110px;
	background-image: url(../img/buttons_ru/delete.png);
}
.sendButton {
	width: 103px;
	background-image: url(../img/buttons_ru/send.png);
}
.showButton {
	width: 108px;
	background-image: url(../img/buttons_ru/show.png);
	margin: 0;
}
.invateButton {
	width: 108px;
	background-image: url(../img/buttons_ru/invate.png);
	margin: 0;
}
.savePrintButton {
	width: 191px;
	background-image: url(../img/buttons_ru/save_and_print.png);
}

td.buttons {
	white-space: nowrap;
}
td.buttons .button {
	color: #333333;
	height: 24px;
	line-height: 24px;
	font-size: 10px;
	text-decoration: none;
	text-shadow: 0 1px 0 white;
	padding: 0 8px;
	margin: 0 8px 0 0;
}
td.buttons .button.last {
	margin: 0;
}