.cusel, .cuselFrameRight, .jScrollPaneDrag, .jScrollArrowUp, .jScrollArrowDown {
    background: url(../img/customSelBg.png) no-repeat scroll 0 0 transparent;
}
.cusel {
    background-position: left top;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    position: relative;
    z-index: 1;
}
.cuselFrameRight {
    background-position: right top;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 36px; 
    z-index: 2; 
	background: url("../img/customSel_Arrow.png") no-repeat scroll 0 0 transparent!important;
	border-left: 1px solid #D1D1D1;
}

.cuselFocus .cuselFrameRight, .cuselOpen .cuselFrameRight {
	background: url("../img/customSel_Arrow.png") no-repeat scroll 0 0 transparent!important; 
}
.cuselText {
	width: 80%;
	cursor: pointer;
    height: 14px;
    left: 0;
    color: #505050;
	outline: none;
	font: 14px/14px MyriadPro, Arial, sans-serif;
	overflow: hidden;
    padding: 7px 0 0 10px;
    position: absolute;
    top: 0;
    z-index: 1;
}
.cuselFocus, .cuselOpen {
	color: #333;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

* html .cuselText {
    height: 22px;
}
.cusel span {
    cursor: pointer;
    display: block;
    font-size: 12px; 
    white-space: nowrap;
	border-top:    1px solid white;
	border-bottom: 1px solid white;
    padding: 4px 15px 4px 9px;
	margin-right: 1px;    
}
.cusel span:hover, .cusel .cuselOptHover {
    background: none repeat scroll 0 0 #f5f5f5;
	border-top:    1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
    color: black;
}
.cusel .cuselActive { 
    color: #000000;
    background-color: #e4e4e4;
	border-top:    1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	border-left:   3px solid #ff7d00;
	padding-left:  6px;
	cursor: default;
}
.cusel, .cusel:hover, .cusel:hover .cuselFrameRight, .cusel:focus, .cusel:focus .cuselFrameRight, .cuselFocus, .cuselFocus .cuselFrameRight {
   background: url("../img/customSelBg.png") no-repeat scroll right 0 #fff;   
}
.cuselOpen {
    z-index: 999;
}
.classDisCusel, .classDisCusel .cuselFrameRight {
    color: #CCCCCC;
    cursor: default;
	background: none !important;
	box-shadow: none !important;
}

.classDisCusel .cuselFrameRight {
	background: transparent url("../img/customSel_Arrow.png") no-repeat scroll 0 0!important;    
}

.classDisCusel .cuselText {
    cursor: default;
}
.cusel .cusel-scroll-wrap {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
    visibility: hidden;
    width: auto;
}
.cusel .jScrollPaneContainer {
    border: 1px solid #d1d1d1;
    overflow: hidden;
    position: relative;
    z-index: 5;
}
.cusel .jScrollPaneTrack {
    background: none repeat scroll 0 0 #fff;  
    height: 100%;
    position: absolute;
    right: 1px; 
    top: 0;
    width: q0px !important; 
	background: transparent url('../img/scrollBg.png') repeat-y -16px 0;  	   
}
.cusel .jScrollPaneDrag {
    background-position: -40px -26px;
    cursor: pointer;  
    height: 19px !important;
    position: absolute;
    right: -5px;  
    width: 20px !important; 
	background: transparent url('../img/scrollDragBg.png') no-repeat 0 50%;  	    
}
.cusel .jScrollPaneDrag:hover {    
	background: transparent url('../img/scrollDragBg.png') no-repeat -18px 50%;  	    
}
.cusel .jScrollPaneDragTop {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
	height: 3px;
}
.cusel .jScrollPaneDragBottom {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
	height: 3px;
}
.cusel .jScrollArrowUp {
    background-position: -2px -26px;
    cursor: pointer;
    height: 12px;
    overflow: hidden;
    position: absolute;
    right: 2px;  
    top: 0;
    width: 26px;
	background: transparent url('../img/scrollBg.png') no-repeat 0 bottom;  
}
.cusel .jScrollArrowDown {
    background-position: -21px -26px;
    bottom: 0;
    cursor: pointer;
    height: 12px;
    overflow: hidden;
    position: absolute;
    right: 2px;  
    top: auto;
    width: 25px;  
	background: transparent url('../img/scrollBg.png') no-repeat -29px 0;          
}
