#form_wrapper {
	position: absolute;
	background-color: #EFEFEF;
	width: 100%;
	height: 100%;
}
#form_wrapper form {
	width: 300px;
	position: relative;
	top: 50%;
	left: 0;
	margin: -150px auto 0 auto;
}
#form_wrapper fieldset {
	border: none;
	text-align: center;
	padding: 0 0 20px 0;
}
#form_wrapper #logo {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}
#form_wrapper .stdTxt {
	width: 280px;
	height: 34px;
	color: #333333;
	font-size: 14px;
}
#form_wrapper .button {
	margin: 0 auto;
}

/* ----------------------------- */

#logo_svg {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto 20px auto;
}

#login {
	position: absolute;
	background-color: #EFEFEF;
	width: 100%;
	height: 100%;
}

#login .warning {
	border: 1px solid #99A3A7;
	display: none;
	margin-bottom: 18px;
	font-size: 14px;  
	line-height: 18px; 
	text-align: clogin_form;	
	padding: 10px 8px;      
}

#login_form {
	width: 300px;
	position: relative;
	top: 50%;
	left: 0;
	margin: -150px auto 0 auto;
}

#change_pass_form {
	width: 300px;
	position: relative;
	top: 50%;
	left: 0;
	margin: -150px auto 0 auto;
}

#login #logo_main {
	display: block;
	width: 166px;
	height: 114px;
	margin: 0 auto 38px;
	background: transparent url('../img/logo.png') no-repeat 0 0;
}

#login #emailTxt, #login #passTxt, #login #passTxt1, #login #passTxt2, #login #forgotTxt {
	width: 282px;
	height: 34px;
	color: #333333;
	font-size: 14px;
	margin-bottom: 18px;
}

#login #enterBtn {
	width: 140px;
	margin-top: 20px !important;  
}

#login #forgotBtn {
	margin-top: 20px !important;  
}

#login #remember {

}

#login #rememberTxt {
	font-size: 14px;
	cursor: pointer;  
}

#login #forgot {
	float: right;
	font-size: 12px;
	Line-height: 18px;
	margin-top: 4px;
}

#forgot_form {
	display: none;
	width: 300px;
	position: relative;
	top: 50%;
	left: 0;
	margin: -150px auto 0 auto;
}
#to_login {
	display: block;
	text-align: center; 
}