.selectricWrapper {
	width: auto;
	position: relative;
	cursor: pointer;
}

.selectricResponsive {
	width: 100%;
}

.selectric {
	position: relative;
	border: 1px solid #d1d1d1;
	background: #ffffff;
}

.selectricWrapper.errorField .selectric {
  background-color: #ffe9e9;
  border: 1px solid #f17171;
  box-shadow: 0 0 3px rgba(255, 0, 0, 0.6), 0 0 30px rgba(255, 255, 255, 0.9) inset;
}
  
.selectric .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 30px 0 0;
  padding: 6px 12px 6px 6px;
  font-size: 14px;
  line-height: 18px;
  color: #505050;
  min-height: 18px;
}

.selectric .button {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 24px;
	height: 30px;
	color: #BBB;
	text-align: center;
	font: 0/0 a;
	border: none;
	border-left: 1px solid #d1d1d1;
	border-radius: 0;
	padding: 0;
	margin: 0;
}

.selectric .button:after {
  content: " ";
  position: absolute;
  top: 4px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #BBB;
}

.selectricHover .selectric {
  border-color: #CCC;
}

.selectricHover .selectric .button {
  color: #888;
}

.selectricHover .selectric .button:after {
  border-top-color: #888;
}

.selectricOpen {
  z-index: 9999;
}

.selectricOpen .selectric {
    color: #333;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
	z-index: 9999;
}

.selectricOpen .selectricItems {
	display: block;
}

.selectricDisabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-touch-callout: none;
  user-select: none;
}

.selectricHideSelect {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}

.selectricHideSelect select {
  position: absolute;
  left: -100%;
  display: none;
}

.selectricInput {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectricTempShow {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

.selectricItems {
	display: none;
	position: absolute;
	overflow: auto;
	top: 100%;
	left: 0;
	background: #ffffff;
	border: 1px solid #d1d1d1;
	z-index: 9998;
	box-shadow: 0 0 10px -6px;
}

.selectricItems ul,.selectricItems li {
	list-style: none;
	padding: 0;
	margin: 0 !important;
	font-size: 12px;
	line-height: 14px;
	min-height: 14px;
}

.selectricItems li {
  display: block;
  padding: 5px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  color: #666;
  cursor: pointer;
}

.selectricItems li.selected {
	background: #e4e4e4;
	border-top-color: #c0c0c0;
	border-bottom-color: #c0c0c0;
}

.selectricItems li:hover {
  background: #f5f5f5;
  color: black;
  border-top-color: #dfdfdf;
  border-bottom-color: #dfdfdf;
}

.selectricItems li.disabled {
  background: #F5F5F5;
  color: #BBB;
  border-top-color: #FAFAFA;
  cursor: default;
}