#client_info_avatar {
	float: left;
}
#client_info_avatar img {
	display: block;
}

#client_info_data {
	font-size: 14px;
	margin: 0 0 0 230px;
}

#client_info_data table td {
	padding: 5px 10px 5px 0;
}
#client_info_data table .label {
	color: gray;
}

