/* Datepicker
----------------------------------*/
.ui-datepicker { 
	display: none;
	width: auto;  
	padding: 0;    
	box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);  
}
.ui-datepicker .ui-datepicker-header { 
	position:relative; 
	padding: 0; 
	height: 35px; 
	background: transparent url('../../img/datepickerTitle.png') repeat-x 0 0;  
	
}    
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 10px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { 
	left:10px; 
}
.ui-datepicker .ui-datepicker-next { 
	right:5px;   
}
.ui-datepicker .ui-datepicker-prev-hover { 
	left:10px;   
}  
.ui-datepicker .ui-datepicker-next-hover { 
	right:5px; 
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px; }
.ui-datepicker .ui-datepicker-prev span {
	background: transparent url('../../img/datepickerArrows.png') no-repeat 0 0;  
}
.ui-datepicker .ui-datepicker-next span { 
	background: transparent url('../../img/datepickerArrows.png') no-repeat -9px 0;   
}
.ui-datepicker .ui-datepicker-title { 
	margin: 0 2.3em; 
	line-height: 35px;     
	text-align: center; 
}  
.ui-datepicker .ui-datepicker-title * {
	color: #e0e0e0;
	font: 14px/14px MyriadPro, sans-serif;   
}
.ui-datepicker .ui-datepicker-title select { float:left; font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year { float: right; }
.ui-datepicker table {
	width: 100%; 
	border-collapse: collapse; 
	margin: 0;
}
.ui-datepicker th { 
	padding: 0 .3em; 
	text-align: center; 
	border: 0;  
	color: #666;
	text-transform: uppercase;
	font: 8px/20px MyriadPro, sans-serif;   
	background: transparent url('../../img/datepickerDays.png') repeat-x 0 0;   
}
.ui-datepicker td { 	
	padding: 0;    
	border: 1px solid #BBBBBB;
	width: 28px;
}

.ui-datepicker-calendar .firstTd {
	border-left: none;
    width: 27px;    
}

.ui-datepicker-calendar .lastTd {
	border-right: none;  
    width: 28px; 
}
  
.ui-datepicker .ui-datepicker-calendar td.firstTd a, .ui-datepicker .ui-datepicker-calendar td.firsTd span {    
	background: transparent url('../../img/datepickerDay.png') no-repeat -1px -33px!important;  
}

.ui-datepicker .ui-datepicker-calendar td span, .ui-datepicker .ui-datepicker-calendar td a {  
	display: block; 
	padding: 0;    
	text-align: right; 
	text-decoration: none; 
	border: none;  
	background: transparent url('../../img/datepickerDay.png') no-repeat 0 -33px;    
	text-align: center;  
    text-decoration: none;	   
	font: 12px/28px MyriadPro, sans-serif;  
	color: #666;
}	

.ui-datepicker .ui-datepicker-calendar .lastTr {

}

.ui-datepicker .ui-datepicker-calendar .lastTr td {   
	border-bottom: none!important;   
}

.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 2px; left: auto; }  
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}


.ui-timepicker-div  {
	margin: 8px;
	color: #666666;
	font: 12px/14px MyriadPro,sans-serif;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	font: 12px/12px MyriadPro,sans-serif;
}
.ui-timepicker-div .ui-slider {
	height: 6px;
	border: 1px solid #D1D1D1;
	border-radius: 3px;
}

.ui-timepicker-div .ui-slider .ui-slider-handle {
	width: 12px;
	height: 12px;
	top: -4px;
	margin-left: -4px;
	border-radius: 3px;
}