.avatar {
	display: block;
	background: white url(../img/default_admin_32.png) no-repeat 50% 50%;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	padding: 3px;
}
.avatar.s32 {
	width: 32px;
	height: 32px;
	padding: 3px;
}
