#checklist .item  {
	position: relative;
	top: 0;
	left: 0;
}

#checklist .item .checkbox {
	display: block;
	float: left;
	position: relative;
	top: 7px;
	left: 0;
}
#content #checklist .item p {
	padding: 5px 0;
	margin: 0 0 0 25px;
}

#content #checklist .item.through p {
	color: gray;
	text-decoration: line-through;
}

#checklist .add_link {
	padding: 5px 0 0 0;
}
#checklist .add_link_a {
	display: inline-block;
	color: #333333;
	text-decoration: none;
	border-bottom: 1px dashed #333333;
	margin: 0 0 0 11px;
}
#checklist .add_link_a:hover {
	border-color: transparent;
}

#checklist .checklistTxtField {
	width: 382px;
	height: 26px;
	line-height: 26px;
	margin-left: 15px;
}

#checklist .deleteItem {
	display: block;
	width: 26px;
	height: 26px;
	position: absolute;
	top: 1px;
	right: 2px;
	background: transparent url(../img/delete_small.gif) no-repeat 50% 50%;
}
