* {
	padding: 0;
	margin: 0;
}

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadProRegular.eot');
    src: url('../fonts/MyriadProRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadProRegular.woff') format('woff'),
         url('../fonts/MyriadProRegular.ttf') format('truetype'),
         url('../fonts/MyriadProRegular.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: MyriadPro, Arial, sans;
	color: #333;
	font-size: 12px;
	font-weight: normal;
	background-color: #efefef;
	overflow-y: scroll;
}

a:link {
	text-decoration: underline;
	color: #0867a3;
}

a:visited {
	color: #0867a3;    
}

a:hover {
	/*color: #027D4B;*/
	text-decoration: none;
	color: #0867a3;  
}

a:active {

}

h1 {	
    font-size: 18px;
    font-weight: bold;        
}

h2 {
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 10px; 
} 

h3 {
	font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
}

p {
	margin: 0 0 15px 0;     
}

ul {
	list-style: none inside none;
}

.wrapper {
	width: 978px;
	width: auto;
	min-width: 1200px;
	margin: 0 auto;
	margin: 0 15px;
}

#shadow {
	width: 100%;
	display: none;
	position: absolute;
	background-color: #555;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=81);
	-moz-opacity: 0.81;
	-khtml-opacity: 0.81;
	opacity: 0.81;
	z-index: 10;
}

#header {
	height: 54px;
	min-width: 1230px;
	background-color: #333;	
}

#header #logo {
	display: block;
	width: 250px;
	height: 44px;
	background: transparent url('../img/logo_small.png') no-repeat 0 0;
	float: left;
	margin-top: 4px;
}

#langs {
	display: block;
	float: right;
	width: 76px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px; 
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background: #f3f3f3 url(../img/langs_bg.gif) repeat-x 0 0;
	margin: 16px 64px 0 0;
}
#langs li {
	width: 32px;
	display: inline-block;
	padding: 3px;
}
#langs li a {
	width: 32px;
	height: 17px;
	color: #333333;
	display: inline-block;
	line-height: 16px;
	text-align: center;
	text-decoration: none;
}
#langs li.active a {
	color: white;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px; 
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background-color: #333;
}

#login_langs {
	font-size: 11px;
	text-align: center;
	margin: 20px 0 0 0;
}
#login_langs a, #login_langs span {
	color: #333;
	padding: 0 5px;
}

#header #language {
	color: #d1d1d1;
	font-size: 12px;
	line-height: 54px;
	float: left;
}

#header #languageSel {
	float: right;
	margin: 16px 0 0 12px;
	padding-right: 5px;
}

#header #cuselFrame-languageSel {
	float: right;
	margin: 16px 0 0 12px;
	background: url("../img/buttonBg.png") repeat-x scroll 0 0 transparent;
	height: 23px;
}

#header #cuselFrame-languageSel .cuselFrameRight {
	border: none;
	background-position: 14px 9px!important;
}

#header #cuselFrame-languageSel span {
	line-height: 14px;
	color: #333;
}

#header #cuselFrame-languageSel .cuselText {
	padding-top: 4px; 
	color: #333;
}

#header .cuselFocus .cuselFrameRight, #header .cuselOpen .cuselFrameRight {
	background-position: 14px 9px!important; 
}

#header #welcome {
	float: right;
	color: #d1d1d1;
	line-height: 54px;
	position: relative;
	top: 0;
	left: 0;
	text-shadow: 0 1px 0 black;
}

#header #grm {
	float: left;
	height: 54px;
}
#header #grm_text {
	display: block;
	float: left;
	height: 54px;
	color: #D1D1D1;
	font-size: 34px;
	line-height: 54px;
	text-shadow: 0 1px 0 black;
	text-decoration: none; 
}
#header #grm_logo {
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	padding: 12px 0 0 10px;
}
#header #grm_text_rus {
	display: block;
	float: left;
	color: #D1D1D1;
	font-size: 12px;
	line-height: 9px;
	text-shadow: 0 1px 0 black;
	padding: 13px 0 0 10px;
}

#header #welcome #profilePanelBtn { 
	display: block;
	float: right;
	width: 56px;
	height: 49px;
	border-left:  1px solid transparent;
	border-right: 1px solid transparent;
	margin: 5px 0 0 16px;  
}
#header #welcome #profilePanelBtn span {
	display: block;
	width: 56px;
	height: 34px;
	background: none;
	background: transparent url('../img/profilePanelBtn.png') no-repeat 12px 4px;
	border-left: 1px solid #d1d1d1;
	margin-top: 5px;
} 

#header #welcome #profilePanelBtn:hover span {
	background-position: 12px -74px;
}

#header #welcome #profilePanelBtn.down, #header #welcome #profilePanelBtn.active {
	border-left: 1px solid #d1d1d1;
	border-right: 1px solid #d1d1d1;
	background-color: white;  
}
#header #welcome #profilePanelBtn.down span, #header #welcome #profilePanelBtn.active span {
	border-left: none;
	background-position: 12px -34px;  
}

#header #welcome #profilePanel {	
	display: none;
	position: absolute;
	top: 54px;
	right: 0;
	border-left: 1px solid #d1d1d1;
	border-right: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;	
	font-size: 12px;
	padding-right: 20px;
	background-color: #fff;
	text-shadow: none;
	z-index: 10;  
}

#header #profilePanel #avatar {
	margin: 7px;  
	width: 94px;
	height: 90px;
	border: 1px solid #d1d1d1;
	background-color: #F9F9F9;
	float: left;
}

#header #profilePanel #userInfo {
	margin-left: 20px;
}

#header #profilePanel b {
	white-space: nowrap;
	display: block;
	line-height: 14px;   
	line-height: 32px;
	color: #333;
	border-bottom: 1px solid #333;
	margin: 0 0 9px 0;
}

#header #profilePanel a {
	text-decoration: none;
	white-space: nowrap;
	display: block;
	line-height: 12px;	    
	margin-bottom: 8px; 
}
#header #profilePanel a:hover {
	text-decoration: underline;
}

#header #profilePanel .mail {
	display: none;
	white-space: nowrap;
	border-bottom: 1px solid #333;
	color: #333;
	line-height: 32px;
}

#main {
	min-width: 1230px;
	background-color: #EFEFEF;
	box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.4);
	padding: 36px 0;
}

#main #lPart {
	width: 232px;
	float: left;
}

#lPart #help {
	margin-top: 24px;
	width: 116px;
	background: transparent url('../img/helpBg.png') no-repeat 0 0; 
	padding-left: 44px;
	font-size: 14px;
	line-height: 16px;	
	display:  block;
	text-decoration: none;
	color: #333;  
}

#lPart #help:hover {
	background: transparent url('../img/helpBg.png') no-repeat 0 -34px; 
}

#lPart #help.hover {
	background: transparent url('../img/helpBg.png') no-repeat 0 -34px; 
}

#lPart #help.down { 
	background: transparent url('../img/helpBg.png') no-repeat 0 -68px; 
}

#main_column {
	margin-left: 250px;
}

#breadcrumbs {
	position: relative;
	top: -5px;
	left: 0px;
	margin: 0 0 16px 0;
}

#content {
}

#content h1, .ui-dialog h1 {
	color: #333;
	font-size: 16px;
	line-height: 21px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	margin: 0 0 20px 0;
}
#content .stdForm h1 {
	margin: 20px 0;
}
#content h2, .ui-dialog h2 {
	height: 21px;
	color: #333;
	font-size: 14px;
	line-height: 18px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	margin: 0 0 20px 0;
}
.ui-dialog h2 {
	margin: 0;
	padding: 15px 15px 0 15px;
}
.ui-dialog-content .modalClose {
	display: block;
	float: right;
	width: 18px;
	height: 18px;
	background: transparent url(../img/cross.png) no-repeat 50% 50%; 
	margin: 10px;
}

#content ol {    
    margin: 0 0 10px 18px;
}

#content ul {
    margin: 0 0 10px 18px;
}

#content .stdTabs, .stdTabs {
	display: inline-block;
	height: 30px;
	border: 1px solid #bbbbbb;
	background: transparent url(../img/tabs_bg.gif) repeat-x 0 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;  
	padding: 0;
	margin: 0 0 21px 0;
}
#content .stdTabs li, .stdTabs li {
	display: inline-block;
}
#content .stdTabs li.active, .stdTabs li.active {
	background: #333 url(../img/tabs_bg.gif) no-repeat 0 -64px;
}
#content .stdTabs li.active a, #content .stdTabs li.active a:hover,
.stdTabs li.active a, .stdTabs li.active a:hover {
	color: white;
	background: transparent url(../img/tabs_bg.gif) no-repeat 100% -96px;
	cursor: default;
}

#content .stdTabs li a, .stdTabs li a {
	display: inline-block;
	height: 30px;
	color: #333;
	line-height: 30px;
	text-decoration: none;
	border-right: 1px solid #bbbbbb;
	padding: 0 12px;
}

#content .stdTabs li.first, #content .stdTabs li.first a,
.stdTabs li.first, .stdTabs li.first a {
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	-khtml-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;  
}
#content .stdTabs li.last, #content .stdTabs li.last a,
.stdTabs li.last, .stdTabs li.last a {
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	-khtml-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;  
}

#content .stdTabs li.last a, .stdTabs li.last a {
	border-right: none;
}
#content .stdTabs li a:hover, .stdTabs li a:hover {
	background: transparent url(../img/tabs_bg.gif) repeat-x 0 -32px;
}

.stdCombobox {
	display: block;
	position: relative;
	top: 0;
	left: 0;
}

.stdCombobox .stdComboboxDownBtn {
	display: block;
    width: 36px;
    height: 29px;
    position: absolute;
    top: 1px;
    right: 1px;
	background: url("../img/customSel_Arrow.png") no-repeat scroll 0 0 transparent !important;
    border-left: 1px solid #D1D1D1;
    z-index: 1;
}

.ui-autocomplete .ui-menu-item {
	display: block;
	clear: both;
}

.ui-autocomplete {
	width: 300px;
	border: 1px solid #D1D1D1 !important;
	z-index: 4;
}

.ui-autocomplete .ui-menu-item a {
	display: block;
	font: normal 12px MyriadPro,Arial,sans;
	border-top: 1px solid white !important;
	border-bottom: 1px solid white !important;
	background-color: white !important;
	padding: 4px 15px 4px 9px;
}
.ui-autocomplete .ui-menu-item .ui-state-focus {
	border-top: 1px solid #D1D1D1 !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: 1px solid #D1D1D1 !important;
	background: #f5f5f5 !important;
}

.ui-autocomplete .avatar {
	float: left;
}
.ui-autocomplete .fio {
	display: block;
	font-size: 13px;
	margin: 0 0 0 50px;
	padding: 3px 0;
}
.ui-autocomplete .post {
	color: gray;
}

 
#content .table {
	width: 100%;
	border-collapse: separate;	 
	border: 1px solid #A4A2A2;	
	margin-bottom: 10px;	
}

#content .table td {  
    padding: 5px 10px;
	border-left: 1px solid #E0DEDE;
	border-right: 1px solid #A4A2A2;  
	vertical-align: middle;
	border-top: none;
	border-bottom: none;  
}

#content .table td * {
	margin: 0!important;  
}

#content table {
	border-collapse: collapse;
}

#content table td  {

}

#content table {
	
}



#content .pairLeft {
	float: left;
	width: 196px;
}

#content .pairRight {
	float: right;
	width: 196px;
}

#content .buttonsBar {
	padding-top: 10px;
}

#content #info {
	float: right;
	width: 260px;	
	background-color: #e0e0e0;  
	padding: 16px;
}

#content #info p {
	margin-bottom: 15px;
}
#content #info .splitter {
	border-top: 1px solid gray;
	border-bottom: 1px solid white;
	opacity: 0.5;
}

#content #info .role_title {
	margin: 0 0 6px 0;
}

#content #info .item {
	display: block;
	font-size: 14px; 
	line-height: 19px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.66);
}

#content .buttonBar {
	margin: 0 0 20px 0;
}

#content_view {
	font: 14px/18px MyriadPro,Arial,sans;
}

#content_view p {
	margin: 10px 0;
}

#footer {
	display: none;
	width: 100%;
	height: 44px;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #858585;
	padding-top: 6px;
	z-index: 50;
}

#footer #noticeLnk {
	display: block;
	height: 23px;
	padding-left: 40px;
	background: transparent url('../img/noticeBg.png') no-repeat 0 0;
	margin-top: 10px;
}

#footer #noticeLnk a {
	font-size: 14px;
	line-height: 18px; 
	text-decoration: underline;
	color: #D1D1D1;
}



.stdForm {
	width: 416px;
}
.stdForm fieldset {
	border: none;
	margin-bottom: 10px;
}
.stdForm label {
	height: 16px;
    display: block;
	font-size: 12px;
	line-height: 16px;
    margin-bottom: 12px;
}

.stdForm .separator {
	width: 18px; 
}


.ui-dialog-content {
	background: #EFEFEF !important;
}
.ui-dialog .stdForm {
	padding: 15px;
}
.ui-dialog .ui-dialog-titlebar {
	display: none;
}

.stdTa {
	width: 100%;
	border: 1px solid #D1D1D1;
	padding: 7px;
	font-family: MyriadPro, sans-serif;	
	font-size: 14px;
}

.stdForm .castomTa .stdTa {
	width: 100%;
	border-right: 1px solid #D1D1D1;
	border-bottom: 1px solid #D1D1D1;
	border-left: 1px solid #D1D1D1;
	border-top: none;
	padding: 7px;
	font-family: MyriadPro, sans-serif;	
	font-size: 14px;
}

.stdTbl {
	border-collapse: collapse;
	width: 100%;	
	
}

.stdTbl tr {

}

.stdTbl td {
	border: 1px solid #99a3a7;
	text-align: middle;
	font-size: 13px;
	padding: 8px;
}

.stdTbl td * {
	font-size: 13px;
}

.stdTbl .th td { 
	font-weight: bold;
	font-size: 14px;
}

.stdTbl th {
	text-align: left;
	font-size: 14px;
	font-weight: normal;
	color: #5b666a;
	color: white;
	border: 1px solid #99a3a7;
	background-color: #333333;
	padding: 8px;
}
.stdTbl th a {
	color: #5b666a;
	color: white;
	padding: 0 15px 0 0;
}
.stdTbl th.asc a {
	background: transparent url(../img/arrow_asc.gif) no-repeat 100% 60%;
	padding: 0 15px 0 0;
}
.stdTbl th.desc a {
	background: transparent url(../img/arrow_desc.gif) no-repeat 100% 60%;
	padding: 0 15px 0 0;
}

.stdTbl .odd {
	background-color: #f3f3f3;
}

.stdTbl .even {
	background-color: #fff;
}

.stdTbl .delButton {
	width: 1%;
	padding: 5px 0;
}
.stdTbl .delButton a {
	display: block;
	width:  37px;
	height: 23px;
	background: transparent url(../img/trash.png) no-repeat 50% -22px;
}
.stdTbl .delButton a:hover {
	background-position: 50% 1px;
}

.stdTbl .isActive, .stdTbl .isNotActive {
	width: 1%;
	padding: 5px 0;
}
.stdTbl .isActive span, .stdTbl .isNotActive span {
	display: block;
	width:  37px;
	height: 17px;
	background: transparent url(../img/eye.png) no-repeat 50% 0;
}
.stdTbl .isNotActive span {
	background-position: 50% -19px;
}

.stdForm .stdTxt, .stdTxt {
	width: 398px;
	height: 29px;
	color: #505050;
	border: 1px solid #d1d1d1;
	font: 14px/29px MyriadPro, sans-serif;
	padding: 0 8px;
}
.stdTxt:focus {
	color: #333;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.stdForm .stdTxt.errorField, .stdForm .customSel.errorField {
	border: 1px solid #f17171;
	background-color: #ffe9e9;
	box-shadow: 0 0 3px rgba(255, 0, 0, 0.6), inset 0 0 30px rgba(255, 255, 255, 0.9);
}

.stdForm .stdTxt.loaderField, .stdTxt.loaderField {
	background: #EFEFEF url(../img/ajax-loader.gif) no-repeat 96% 50%;
}

.stdForm textarea.stdTxt, textarea.stdTxt {
	height: auto;
	line-height: 16px;
	padding: 5px 8px;
}

.stdTextArea {
	width: 398px;
	height: 200px;
	color: #505050;
	border: 1px solid #d1d1d1;
	font: 14px/18px MyriadPro, sans-serif;
	padding: 8px;
}

.pairLeft .stdTxt, .pairRight .stdTxt {
	width: 178px;
}

.stdFnt {
	color: #333!important; 
}

a.stdChk {
	display: inline-block;  
	width: 145px;  
	padding-left: 25px;   
	margin-right: 5px;	
	height: 18px;
	border: none;
	background: transparent url('../img/checkboxBg.png') no-repeat 0 -38px;    
	position: relative;
	top: 4px;
	left: 0;
	text-decoration: none;  
	color: #333;       
	font-family: MyriadPro,Arial,sans;
	font-size: 14px;  
	line-height: 18px;    
	margin-bottom: 7px;  
}

a.stdChk.hover {
	background: transparent url('../img/checkboxBg.png') no-repeat 0 -38px;
}

a.stdChk.down {
	background: transparent url('../img/checkboxBg.png') no-repeat 0 -19px; 
}
 
a.stdChk.active {
	background: transparent url('../img/checkboxBg.png') no-repeat 0 0; 
}

.stdBtn {
	display: block;
	width: 138px;
	height: 30px;
	border: 1px solid #d1d1d1;
	background: transparent url('../img/buttonBg.png') repeat-x 0 0;	
	text-align: center;
	line-height: 30px;
}

.stdBtn.hover {
	background: transparent url('../img/buttonBg.png') repeat-x 0 -33px;
	color: #fff!important;
}

.stdBtn.down {
	background: transparent url('../img/buttonBg.png') repeat-x 0 -67px;
	color: #fff!important;
}

.customBtn {	
	text-align: left;	
	width: auto;
	display: inline-block;
	padding-right: 18px;
	color: #333!important;
	text-decoration: none!important;
	font-size: 14px!important;
}

.addBtn {
	width: 16px;
	height: 30px;
	float: left;
	margin: 0 12px;
	background: transparent url('../img/add.png') no-repeat 0 50%;
}

.stdForm .customSel {
	width: 414px;
	display: block;	
	border: 1px solid #D1D1D1;
	background-color: #fff;
	height: 29px;
	background: url("../img/customSelBg.png") no-repeat scroll right 0 #fff;   
}

.addBtn {

}

.imgLnk {
	display: inline-block;
    height: 32px;    
    padding-left: 36px;
}

.imgLnk a {
	line-height: 32px;
	font-size: 14px;
}

.imgLnk a:hover {
	text-decoration: none;
}

.exelLink {    
	background: url("../img/excel.png") no-repeat scroll 0 0 transparent;
}

.left {
	float: left;
}

.right {
	float: right;
}

.inline {
	display: inline-block;
}

.half {
	width: 196px;
}

.dateField {
	width: 68px;
}

.half .customSel {
	width: 194px; 
} 

.center {
	text-align: center;
}

.radius {
	-moz-border-radius: 3px; /* Firefox */
   -webkit-border-radius: 3px; /* Safari, Chrome */
   -khtml-border-radius: 3px; /* KHTML */
   border-radius: 3px; /* CSS3 */  
}

.clear {
	width: 100%;
	height: 1px;
	font-size: 1px;
	line-height: 1px;
	clear: both;
}

.noDisplay {
	display: none;
}

.stdButton {
	display: inline-block;
	height: 33px;
	border: none;
	background-position: 0 0;
	background-repeat: no-repeat;
	margin: 0 18px 0 0;
}

.hoverButton {
	background-position: 0 -35px;
}

.mousedownButton {
	background-position: 0 -70px;
}

.tableWrapper {
	width: 100%;
	padding: 0 0 10px 0;
	padding: 0;
}

#posTable {
	width: 100%;
}
#posTable th {
	height: 16px;
	text-align: left;
	line-height: 16px;
	font-weight: normal;
	padding-bottom: 12px;
}
#posTable  td {
	vertical-align: top;
	padding: 0 0 10px 0;
}
#posTable .posTableDel {
	width: 1%;
}
#posTable .posTableDel a {
	display: inline-block;
	visibility: hidden;
	padding: 0 10px 0 0;
}
#posTable .posTableTdToDel .posTableDel a {
	visibility: visible;
}
#posTable .posTableName .stdTxt {
	width: 288px;
}
#posTable .posTableCost, #posTable .posTableCost .stdTxt {
	width: 50px;
}
.stdForm #posTable .posTableGroup, .stdForm #posTable .posTableGroup .customSel {
	width: 200px;
}

.addLink {
	padding: 8px 0 0 0;
}
.addLink a {
	text-decoration: none;
	border-bottom: 1px dashed #0867A3;
}
.addLink a:hover {
	border-bottom: none;
}

#content .stdForm .checkboxListing {
	display: block;
	padding: 0;
	margin: 10px 0;
}

#content .stdForm .checkboxListing li {
	height:  18px;
	display: block;
	padding: 0;
	margin: 0 0 8px 0;	
}
#content .stdForm .checkboxListing li a {
	height: 18px;
	display: inline-block;  
	color: #787878;  
	border: none;   
	text-decoration: none;  
	font: 14px/18px MyriadPro, Arial, sans;  		
	background: transparent url(../img/checkboxBg.png) no-repeat 0 -38px;  
	padding: 0 0 0 25px;   
	margin: 0;   
}

#content .stdForm .checkboxListing li a:hover {
	background-position: 0 -19px;
}

#content .stdForm .checkboxListing li a.active {
	background-position: 0 0;
}

#logo_svg {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto 20px auto;
}

.favicon {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	border-radius: 2px;
	background: transparent url(../img/default_project_fav.gif) no-repeat 50% 50%;
	margin: 0 5px 0 0;
}
.favicon img {
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 2px;
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }



.notice_block {
	color: #7d2a1c;
	box-shadow: 0 1px 2px #fbb5b5 inset, 0 1px 1px #dfdfdf;
	-webkit-box-shadow: 0 1px 2px #fbb5b5 inset, 0 1px 1px #dfdfdf;
	-moz-box-shadow: 0 1px 2px #fbb5b5 inset, 0 1px 1px #dfdfdf;
	border-radius: 2px;
	background: #f0b5a1;
	background: -moz-linear-gradient(top,  #f0b5a1 0%, #de9d8a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b5a1), color-stop(100%,#de9d8a));
	background: -webkit-linear-gradient(top,  #f0b5a1 0%,#de9d8a 100%);
	background: -o-linear-gradient(top,  #f0b5a1 0%,#de9d8a 100%);
	background: -ms-linear-gradient(top,  #f0b5a1 0%,#de9d8a 100%);
	background: linear-gradient(top,  #f0b5a1 0%,#de9d8a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b5a1', endColorstr='#de9d8a',GradientType=0 ); 
	border: 1px solid #dfa59b;
	margin: 0 0 25px 0;
	padding: 10px 25px;
}

.notice_block p {
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0 1px 0 #DDD; 
	margin: 0;
}
.notice_block a {
	color: #7d2a1c;
}