#menu_block {
	border-bottom: 1px solid #D1D1D1;
	margin-bottom: 18px;
}

#menu_block li {
	display: block;
	border-top: 1px solid #d1d1d1;
}

#menu_block li a {
	display: block;
	font-size: 14px;
	color: #333;
	line-height: 34px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	background-repeat: no-repeat;
	background-position: 7px 50%;
	padding: 0 7px 0 30px;
}

#menu_block #menu_link_2   { background-image: url(../img/icons/users.png); }
#menu_block #menu_link_11 { background-image: url(../img/icons/heart.png); }
#menu_block #menu_link_14 { background-image: url(../img/icons/target.png); }
#menu_block #menu_link_17 { background-image: url(../img/icons/stat_up.png); }
#menu_block #menu_link_18 { background-image: url(../img/icons/lab.png); }
#menu_block #menu_link_19 { background-image: url(../img/icons/newspaper.gif); }
#menu_block #menu_link_21 { background-image: url(../img/icons/settings.png); }
#menu_block #menu_link_28 { background-image: url(../img/icons/database.png); }

#menu_block a:hover {
	background-color: #e8e8e8;
	text-decoration: underline;
}

#menu_block .active a {
	background-color: #E0E0E0;
}

#menu_block .count {
	display: inline-block;
	width: 26px;
	background: #DA8854;
	background: -moz-linear-gradient(top, #DA8854 0%, #C35A32 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DA8854), color-stop(100%,#C35A32));
	background: -webkit-linear-gradient(top, #DA8854 0%,#C35A32 100%);
	background: -o-linear-gradient(top, #DA8854 0%,#C35A32 100%);
	background: -ms-linear-gradient(top, #DA8854 0%,#C35A32 100%);
	background: linear-gradient(top, #DA8854 0%,#C35A32 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da8854', endColorstr='#c35a32',GradientType=0);
	text-shadow: none;
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 23px;
	margin-left: 16px;
}

#menu_block .submenu {
	display: none;
	margin: 2px 0 10px 23px;
}
#menu_block .preactive .submenu {
	display: block;
}
#menu_block .submenu li {
	border-top: none;
}
#menu_block .submenu li a {
	font-size: 12px;
	line-height: 24px;
	border-radius: 2px;
	padding: 0 7px;
}
#menu_block .submenu li a:hover {
	background-color: #e8e8e8;
	text-decoration: underline;
}
#menu_block .submenu li.active a {
	background-color: #E0E0E0;
	padding: 0 7px;
}
