.pagination {
	margin: 15px 0 25px 0;
}
.pagination a {
	width:  auto;
	height: 22px;
	color: #333;
	line-height: 22px;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	padding: 0 1px 0 0;
	margin: 0 6px;
}

.pagination .prev {
	width: auto;
	text-align: left;
	margin: 0 20px 0 0;
	padding: 0;
}

.pagination .next {
	width: auto;
	text-align: right;
	margin: 0 0 0 20px;
	padding: 0;
}

.pagination .active {
	width:  20px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	border: 1px solid #cb6400; 
	background-color: #ff7d00;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	cursor: default;
}

.pagination .inactive {
	color: #afafaf;
	text-decoration: none;
	cursor: default;
}

#filterWrapper, .filterWrapperDiv {
	min-height: 31px;
	white-space: nowrap;
	margin: 0 0 10px 0;
}

#filterWrapper .filterIndent {
	clear: both;
	width: 100%;
	height: 10px;
	font-size: 10px;
	line-height: 10px;
}

.filterWrapperRight {
	float: right;
	margin: 0 0 10px 0;
}

#filterWrapper .customSel {
	width: 151px;
	height: 29px;
	display: block;
	float: left;
	border: 1px solid #D1D1D1;
	background-color: #fff;
	background: url("../img/customSelBg.png") no-repeat scroll right 0 #fff;
	padding: 0;
	margin: 0 10px 0 0;
}
#filterWrapper.filterWrapperRight .customSel {
	margin: 0 0 0 10px;
}

#filterWrapper .filterDate {
    display: block;
	float: left;
    height: 31px;
    line-height: 31px;
    overflow: hidden;
    position: relative;
    margin: 0 10px 0 0;
}