#task_list_table .task_title_td .task_title {
	display: block;
	margin: 0 0 0 21px;
}

#task_list_table .task_title_td .project {
	margin: 5px 0 0 0;
}

#task_list_table .task_title_td .project_title, .task_title_td .project_title {
	display: block;
	float: left;
	color: gray;
	margin: 0 10px 0 0;
}

#task_list_table .task_title_td .state_title, .task_title_td .state_title {
	display: block;
	float: left;
	color: white;
	font-size: 11px;
	background: #bbb;
	border-radius: 2px;
	padding: 1px 5px;
}

#task_list_table .out_plan {
	color: gray;
}
#task_list_table .is_dead, .is_dead {
	color: red;
}

#task_list_table .task_state_0 .state_title, .task_state_0 .state_title {
	background-color: #ee8f47;
}
#task_list_table .task_state_1 .state_title, .task_state_1 .state_title {
	background-color: #c5cb00;
}
#task_list_table .task_state_2 .state_title, .task_state_2 .state_title {
	background-color: #84c9eb;
}

#task_list_table .task_state_3, .stdTbl .task_state_3 span {
	color: #bbb;
}
#task_list_table .task_state_3 a {
	color: #bbb;
	text-decoration: line-through;
}
#task_list_table .task_state_3 a:hover {
	color: gray;
	text-decoration: none;
}
#task_list_table .task_state_3 .is_dead, #task_list_table .task_state_3 .out_plan {
	color: #bbb;
}
#task_list_table .task_state_3 .favicon {
	opacity: 0.5;
}
#task_list_table .task_state_3 .avatar {
	opacity: 0.3;
}

#task_list_table .avatar {
	float: left;
}
#task_list_table .fio {
	display: block;
	margin: 3px 0 0 46px;
}

