<div id="trening_block">
	<p>В целях поддержки продаж и повышения профессиональных компетенций по продуктам LADA Sport <b>13 сентября 2015</b> ОАО «АВТОВАЗ» совместно с ООО «ЛАДА Спорт» проводит тренинг для сотрудников отделов продаж дилерских центров LADA. В программе тренинга теоретическое и практическое обучение.</p>
	<p><a href="#" class="button">Зарегистрироваться на тренинг</a></p>
</div>
