#events_list_table .avatar {
    float: left;
}

#events_list_table .fio {
    display: block;
    margin: 3px 0 0 46px;
}

#events_list_table .gray * {
	color: #BBBBBB;
    text-decoration: line-through;
}
#events_list_table .gray .avatar {
	opacity: 0.3;
}
