#trening_block {
	width: 60%;
	border: 1px solid #99a3a7;
	background-color: #f9f9f9;
	padding: 18px 20px 22px 20px;
}

#trening_block p {
	font-size: 14px;
}
#trening_block p:last-child {
	margin-bottom: 0;
}

#trening_shadow {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 80;
}
#trening_popup {
	position: fixed;
	top: 50%;
	left: 50%;
	font-family: MyriadPro,Arial,sans;
	background: #efefef;
	padding: 20px 30px;
	margin: -262px 0 0 -238px;
	z-index: 81;
}
#trening_popup h2 {
	font-size: 16px;
	margin-bottom: 20px;
}
#trening_popup .button {
	font-family: MyriadPro,Arial,sans;
	line-height: 29px;
}
#trening_popup .errorHint {
	display: none;
}

#trening_close {
	display: block;
	width: 13px;
	height: 13px;
	position: absolute;
	top: 24px;
	right: 30px;
	background: transparent url(../img/cross.png) no-repeat 0 0;
}
#trening_close:hover {
	background-position: 0 -15px;
}